.form-container {
    max-width: 500px;
    margin: 50px auto 0;
}

.field {
    margin-bottom: 20px;
    width: 500px;
}

.label {
    font-size: 18px;
    font-weight: bolder;
}

.input {
    width: 95.3%;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid rgb(245, 245, 245);
    padding: 5px 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 1px 0 rgb(0, 0, 0, .3);
    outline-color: #0bf387;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
    border-color: red;
}

.input:hover {
    border-color: #0bf387;
}

textarea {
    height: 100px;
    resize: vertical;
}

.err {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.button {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.button .btn1 {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 5px;
    color: #555;
}

.button .btn1:hover {
    background-color: #f3f5fa;
}

.button .btn2 {
    padding: 5px 10px;
    background-color: #0bf387;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}